* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

/*=============== VARIABLES ===========================*/
:root {
  --header-height: 3rem;

  /*====== Colors ======*/
  --hue-color: 240;

  /*====== HSL color mode ======*/
  --body-color: hsl(var(--hue-color), 10%, 10%);
  --dark-color: hsl(var(--hue-color), 80%, 50%);
  --dark-font-color: hsl(var(--hue-color), 1%, 100%);
  --dark-icon-color: hsl(var(--hue-color), 1%, 1%);
  --font-color-title: hsl(var(--hue-color), 50%, 100%);
  --button-color: hsl(var(--hue-color), 50%, 100%);

  /*====== fonts ======*/
  --font-title: 2rem;
}

body.sun-theme {
  /*====== Colors ======*/
  --hue-color: 240;

  /*====== HSL color mode ======*/
  --body-color: hsl(var(--hue-color), 0%, 90%);
  --dark-color: hsl(var(--hue-color), 70%, 60%);
  --dark-font-color: hsl(var(--hue-color), 1%, 1%);
  --dark-icon-color: hsl(var(--hue-color), 1%, 100%);
  --font-color-title: hsl(var(--hue-color), 5%, 1%);
  --button-color: hsl(var(--hue-color), 5%, 1%);
}

body {
  background-color: var(--body-color);
  margin-left: 2rem;
  margin-right: 2rem;
}

.grid {
  display: grid;
  gap: 2rem;
} 

.section {
  padding: 2rem 0 4rem;
}

/*============ BOTÃO ==============*/
.dark{
  position: absolute;
  left:30%;
}

#mode {
  width: 80px;
  height: 30px;
  margin: 10px 20px;
  background-color: var(--dark-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  position: relative;
}

.dark_icon {
  font-size: 1.3rem;
  position: relative;
  left: 1px;
  top: 2px;
  color: var(--dark-icon-color);
}

#inner-text {
  font-size: 15px;
  right: 10px;
  color: var(--dark-font-color);
  position: absolute;
  top: 6px;
  text-align: center;
}

#switch {
  height: 26px;
  width: 26px;
  margin: 2px 2px;
  background-color: var(--dark-font-color);
  border-radius: 50%;
}

.switch-active {
  transform: translateX(50px);
}

.inner-text-active {
  transform: translateX(-26px);
}

.button_github{
  display: flex;
  gap: 1rem;
  left: 100%;
  position: relative;
}

.github {
  font-size: 1.5rem;
  position: relative;
  color: var(--dark-font-color);
}

.github:hover {
  color: rgb(255, 0, 0);
}

/*========= home ===============*/
.home {
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 10rem;
}

.home_data {
  text-align: center;
  margin-bottom: 3rem;
  margin-top: 5rem;
}

h1 {
  font-size: 2rem;
  font-style: italic;
  color: var(--font-color-title);
}

.opacity {
  width: 15rem;
  margin-bottom: 3rem;
}

#img {
  width: 15rem;
  display: none;
  margin-top:2rem;
}

/*========== calculate ============*/
.container {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: var(--header-height);
  color: var(--font-color-title);
  font-size: var(--font-title);
}

.button {
  display:inline-flex;
  margin-bottom: 10px;
  padding: 1.5rem;
  background-color: var(--dark-color);
  color: var(--dark-font-color);
  border-radius: 5px;
}

.button:hover {
  background-color: rgb(21, 182, 194);
}

.button_web {
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: var(--dark-color);
  color: var(--dark-font-color);
  border-radius: 5px;
}

.button_web:hover {
  background-color: rgb(131, 21, 194);
}

.calculate {
  margin-bottom: 3rem;
}

.calculadora {
  text-align: center;
}

.description {
  margin-bottom: 5rem;
  text-align: center;
  color: var(--font-color-title);
}

.img_calculate {
  width: 10rem;
  margin-bottom: 2rem;
}

/*======== imc ============*/
.imc {
  margin-top: 8rem;
  margin-bottom: 8rem;
  justify-content: center;
}

.imc1 {
  text-align: center;
}

/*================ Footer =========================*/

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 2px;
  background: linear-gradient(to left, rgb(8, 228, 198), rgb(13, 46, 195));
}

.footer_copy {
  text-align: center;
  font-size: 1rem;
  color: var(--font-color-title);
  margin-bottom: 1.2rem;
}

::-webkit-scrollbar {
  width: 0.6rem;
  background-color: rgb(0, 0, 0);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
}

@media (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }

   #img {
    width: 20rem;
  }

  .button {
    display: inline;
  }

  .opacity{
    width: 25rem;
  }

  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .img_calculate {
    width: 15rem;
    margin-bottom: 5rem;
  }

  .title {
    font-size: 2.5rem;
    margin-bottom: 4rem;
  }

  .description {
    font-size: 1.2rem;
  }
}

@media (min-width: 994px) {
  .home {
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    text-align: center;
    display: flex;
  }

  #img {
    width: 35rem;
    display: block;
  }

  .opacity{
    display: none;
  }

  h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
  }

  .img_calculate {
    width: auto;
    margin-bottom: 2rem;
    height: 30rem;
  }

  .title {
    font-size: 2.5rem;
  }

  .description {
    font-size: 1.5rem;
  }
}
